:root {
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196ff;
    --footer-color: #2f303a;
    --white-color: #ffffff;
    --powder-color: #f5f4fa;
    --card-border-color: #eeeeee;
    --header-line-color: #ececec;
    --icon-color: #afb1b8;
  }